.Rproj.user
.Rhistory
.RData
.Ruserdata

#01.fastq_processing
analysis/01.fastq_processing/intermediates/pca_inputs
analysis/01.fastq_processing/intermediates/pca_outputs
analysis/01.fastq_processing/snakemake/GCA*

#03.delineate_ESUs
analysis/03.delineate_ESUs/scratch/admix_output
analysis/03.delineate_ESUs/scratch/genoscape_output
analysis/03.delineate_ESUs/scratch/ngsRelate
analysis/03.delineate_ESUs/scratch/PCA
analysis/03.delineate_ESUs/scratch/pcadmix_output

#04.predictors_of_decline
analysis/04.predictors_of_decline/scratch/BBS_data
analysis/04.predictors_of_decline/scratch/genoscape_stars
analysis/04.predictors_of_decline/scratch/spatial_predictors
analysis/04.predictors_of_decline/outputs/GAM_outputs/function_out

#05.genomic_offset
analysis/genomic_offset/scratch/RDA_output/spatial_files

#06.final_figures
analysis/06.final_figures/figures_output/*predictions
analysis/06.final_figures/figures_output/partial_effects
analysis/06.final_figures/figures_output/trends

